.main-link {
  font-size: 20px; }
  .main-link--orange {
    color: orange; }
  .main-link--red {
    color: red; }
  .main-link-board {
    min-height: 60px;
    min-width: 190px;
    background: url("../images/Bildschirmfoto%202018-07-23%20um%2017.11.26.png") no-repeat;
    display: inline-block;
    text-align: center;
    line-height: 60px;
    color: white;
    text-decoration: none;
    font-family: "GandhiSans-Regular, serif"; }
