.main-link {
  font-size: 20px; }
  .main-link--orange {
    color: orange; }
  .main-link--red {
    color: red; }
  .main-link-board {
    min-height: 60px;
    min-width: 190px;
    background: url("../images/Bildschirmfoto%202018-07-23%20um%2017.11.26.png") no-repeat;
    display: inline-block;
    text-align: center;
    line-height: 60px;
    color: white;
    text-decoration: none;
    font-family: "GandhiSans-Regular, serif"; }

.footerContainer {
  height: 448px;
  border-top: 1px solid #707070; }

.footerFooter {
  height: 92.5px;
  margin: 0 auto;
  background-color: #FEB403;
  color: white;
  font-size: 16px;
  font-family: 'gandhi_sansregular';
  font-weight: bold; }

.footerLogo {
  width: 232.99px;
  height: 50.38px;
  margin-left: 389px;
  margin-top: 101px;
  float: left;
  background-image: url(/images/Group%20454.png); }

.footerInnerContainer {
  width: 285px;
  height: 448px;
  float: left;
  margin-left: 51px; }

.footerInnerText {
  width: 285px;
  height: 55.51px;
  float: left;
  margin-top: 101px;
  font-size: 16px;
  font-family: 'gandhi_sansregular';
  font-weight: bold; }

.footerInnerlogo1 {
  width: 165px;
  height: 46.5px;
  float: left;
  margin-top: 10px;
  background-image: url(/images/SOH_rgb.png); }

.footerInnerlogo2 {
  width: 125px;
  height: 53px;
  float: left;
  margin-top: 30px;
  background-image: url(/images/logo-universitaet-zuerich.png); }

.footerContactContainer {
  width: 196px;
  height: 141.51px;
  float: left;
  margin-top: 101px; }

.footerMailContainer {
  width: 292px;
  height: 201px;
  float: left;
  margin-top: 101px;
  margin-left: 67px; }

.e {
  font-size: 16px;
  font-family: 'gandhi_sansregular';
  font-weight: bold; }

.f {
  font-size: 16px;
  font-family: 'gandhi_sansregular';
  line-height: 30px; }

.g {
  font-size: 20px;
  font-family: 'gandhi_sansregular';
  float: right;
  margin-top: 40px; }

.mail {
  width: 292px;
  height: 40px;
  float: left;
  border-bottom: 1px solid #BEBCBC;
  font-size: 20px;
  font-family: 'gandhi_sansregular';
  font-style: italic; }

.inputMail {
  width: 292px;
  height: 40px;
  float: left;
  color: #FEB403;
  font-size: 20px;
  font-family: 'gandhi_sansregular';
  font-style: italic;
  border-bottom: 1px solid #D3D3D3;
  border-top: none;
  border-left: none;
  border-right: none; }

.Ftext {
  width: 197px;
  height: 18px;
  float: left;
  color: white;
  font-size: 16px;
  font-family: 'gandhi_sansregular';
  font-weight: bold;
  margin-top: 38px;
  margin-left: 408px; }

.footerIcon {
  font-size: 20px;
  font-family: 'gandhi_sansregular';
  color: white;
  float: left;
  height: 24px;
  width: 30px;
  margin-top: 38px; }

.first {
  margin-left: 190px; }

.second {
  margin-left: 60px; }

.Ftext1 {
  margin-left: 215px;
  float: left;
  color: white;
  font-size: 16px;
  font-family: 'gandhi_sansregular';
  font-weight: bold;
  margin-top: 38px;
  height: 18px;
  width: 80xp;
  text-align: right; }

.one {
  margin-left: 80px; }
