/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'gandhi_sansregular';
  src: url("../fonts/ghandi/regular/GandhiSans-Regular-webfont.eot");
  src: url("../fonts/ghandi/regular/GandhiSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ghandi/regular/GandhiSans-Regular-webfont.woff") format("woff"), url("../fonts/ghandi/regular/GandhiSans-Regular-webfont.ttf") format("truetype"), url("../fonts/ghandi/regular/GandhiSans-Regular-webfont.svg#gandhi_sansregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gandhi_sansbold';
  src: url("../fonts/ghandi/bold/GandhiSans-Bold-webfont.eot");
  src: url("../fonts/ghandi/bold/GandhiSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ghandi/bold/GandhiSans-Bold-webfont.woff") format("woff"), url("../fonts/ghandi/bold/GandhiSans-Bold-webfont.ttf") format("truetype"), url("../fonts/ghandi/bold/GandhiSans-Bold-webfont.svg#gandhi_sansbold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gandhi_sansitalic';
  src: url("../fonts/ghandi/italic/GandhiSans-Italic-webfont.eot");
  src: url("../fonts/ghandi/italic/GandhiSans-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ghandi/italic/GandhiSans-Italic-webfont.woff") format("woff"), url("../fonts/ghandi/italic/GandhiSans-Italic-webfont.ttf") format("truetype"), url("../fonts/ghandi/italic/GandhiSans-Italic-webfont.svg#gandhi_sansitalic") format("svg");
  font-weight: normal;
  font-style: normal; }

.wrap {
  margin: 0 auto;
  background-color: white; }
  .wrap--header {
    border-top: 11px solid #FEB403;
    height: 265px; }
  .wrap--content {
    height: 3815px; }
  .wrap--footer {
    height: 540px; }

.mainContainer {
  margin: 0 auto; }
  .mainContainer--nav {
    width: 1135px;
    height: 24px;
    margin-top: 75px; }

.navLogo {
  width: 416px;
  height: 15px;
  float: left;
  margin-top: 9px;
  font-size: 20px;
  font-weight: bold;
  color: #707070;
  font-family: "GandhiSans-Regular, serif"; }

.nav {
  width: 672.72px;
  height: 24px;
  float: right;
  color: #707070; }

.nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0; }

.nav li {
  height: 15px;
  float: left;
  margin-top: 9px;
  width: 110px; }

.nav a {
  text-decoration: none;
  color: #707070;
  display: block;
  font-family: "GandhiSans-Regular, serif";
  font-size: 20px;
  text-align: center;
  padding-bottom: 50px; }

.dropdown {
  position: relative;
  display: inline-block;
  float: right; }
  .dropdown--content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 320px;
    min-height: 415px;
    border: solid 1px #FEB403; }
  .dropdown--content a {
    color: black;
    padding: 12px;
    text-decoration: none;
    display: block;
    font-size: 20px;
    font-family: "GandhiSans-Regular, serif";
    text-align: left;
    padding-left: 50px;
    line-height: 25px; }
  .dropdown--margin {
    margin-top: 45px; }
  .dropdown--search {
    position: relative;
    display: inline-block; }
  .dropdown--contentSearch {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 425px;
    min-height: 275px;
    border: solid 1px #FEB403;
    margin-top: 46px; }
  .dropdown--background {
    width: 425px;
    height: 60px;
    background-color: #FEB403;
    float: left;
    color: white;
    text-decoration: none;
    display: block;
    font-size: 25px;
    font-family: "GandhiSans-Regular, serif";
    text-align: left; }
  .dropdown--innerSearch {
    width: 356px;
    height: 60px;
    float: left;
    margin-left: 34px;
    margin-top: 37px; }
  .dropdown--button {
    width: 150px;
    height: 60px;
    float: right;
    margin-right: 34px;
    margin-top: 20px;
    background-color: #FEB403; }
  .dropdown--inputSearch {
    width: 316px;
    height: 60px;
    color: #707070;
    font-size: 25px;
    font-family: 'gandhi_sansitalic';
    padding-left: 30px;
    border: 1px solid #D3D3D3; }
  .dropdown--user {
    position: relative;
    display: inline-block; }
  .dropdown--contentUser {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 425px;
    min-height: 558px;
    border: solid 1px #FEB403;
    margin-top: 46px; }
  .dropdown--margina {
    margin-top: 49px; }
  .dropdown--marginb {
    margin-top: 38px; }
  .dropdown--text {
    text-align: left;
    font-size: 20px;
    font-family: "GandhiSans-Regular, serif";
    color: #707070;
    margin-bottom: 10px; }
  .dropdown--buttonUser {
    height: 60px;
    width: 186px;
    float: right;
    margin-right: 34px;
    margin-top: 20px;
    background-color: #FEB403; }
  .dropdown--innerUser {
    width: 356px;
    height: 95px;
    float: left;
    margin-left: 34px;
    margin-top: 25px; }
  .dropdown--footer {
    height: 125px;
    border-top: 1px solid #FEB403;
    margin-top: 111px; }
  .dropdown--textcenter {
    text-align: center;
    font-family: "GandhiSans-Regular, serif";
    font-size: 20px;
    color: #707070;
    margin-top: 30px; }
  .dropdown--textbottom {
    text-align: center;
    font-family: "GandhiSans-Regular, serif";
    font-size: 25px;
    color: #FEB403;
    margin-top: 30px; }

.Suche {
  padding: 20px;
  color: white;
  font-size: 25px; }

.textdropdown {
  margin-left: 34px;
  text-align: left;
  color: #BCBBBB;
  font-size: 20px;
  font-family: "GandhiSans-Regular, serif"; }

.dropdown:hover .dropdown--content {
  display: block; }

.dropdown--search:hover .dropdown--contentSearch {
  display: block; }

.dropdown--user:hover .dropdown--contentUser {
  display: block; }

.dropdown--content a:hover {
  background-color: #FEB403; }

.dropdown--content a:hover {
  color: white; }

.main-link {
  font-size: 20px; }
  .main-link--orange {
    color: orange; }
  .main-link--red {
    color: red; }
  .main-link-board {
    min-height: 60px;
    min-width: 190px;
    background: url("../images/Bildschirmfoto%202018-07-23%20um%2017.11.26.png") no-repeat;
    display: inline-block;
    text-align: center;
    line-height: 60px;
    color: white;
    text-decoration: none;
    font-family: "GandhiSans-Regular, serif"; }

.footerContainer {
  height: 448px;
  border-top: 1px solid #707070; }

.footerFooter {
  height: 92.5px;
  margin: 0 auto;
  background-color: #FEB403;
  color: white;
  font-size: 16px;
  font-family: 'gandhi_sansregular';
  font-weight: bold; }

.footerLogo {
  width: 232.99px;
  height: 50.38px;
  margin-left: 389px;
  margin-top: 101px;
  float: left;
  background-image: url(/images/Group%20454.png); }

.footerInnerContainer {
  width: 285px;
  height: 448px;
  float: left;
  margin-left: 51px; }

.footerInnerText {
  width: 285px;
  height: 55.51px;
  float: left;
  margin-top: 101px;
  font-size: 16px;
  font-family: 'gandhi_sansregular';
  font-weight: bold; }

.footerInnerlogo1 {
  width: 165px;
  height: 46.5px;
  float: left;
  margin-top: 10px;
  background-image: url(/images/SOH_rgb.png); }

.footerInnerlogo2 {
  width: 125px;
  height: 53px;
  float: left;
  margin-top: 30px;
  background-image: url(/images/logo-universitaet-zuerich.png); }

.footerContactContainer {
  width: 196px;
  height: 141.51px;
  float: left;
  margin-top: 101px; }

.footerMailContainer {
  width: 292px;
  height: 201px;
  float: left;
  margin-top: 101px;
  margin-left: 67px; }

.e {
  font-size: 16px;
  font-family: 'gandhi_sansregular';
  font-weight: bold; }

.f {
  font-size: 16px;
  font-family: 'gandhi_sansregular';
  line-height: 30px; }

.g {
  font-size: 20px;
  font-family: 'gandhi_sansregular';
  float: right;
  margin-top: 40px; }

.mail {
  width: 292px;
  height: 40px;
  float: left;
  border-bottom: 1px solid #BEBCBC;
  font-size: 20px;
  font-family: 'gandhi_sansregular';
  font-style: italic; }

.inputMail {
  width: 292px;
  height: 40px;
  float: left;
  color: #FEB403;
  font-size: 20px;
  font-family: 'gandhi_sansregular';
  font-style: italic;
  border-bottom: 1px solid #D3D3D3;
  border-top: none;
  border-left: none;
  border-right: none; }

.Ftext {
  width: 197px;
  height: 18px;
  float: left;
  color: white;
  font-size: 16px;
  font-family: 'gandhi_sansregular';
  font-weight: bold;
  margin-top: 38px;
  margin-left: 408px; }

.footerIcon {
  font-size: 20px;
  font-family: 'gandhi_sansregular';
  color: white;
  float: left;
  height: 24px;
  width: 30px;
  margin-top: 38px; }

.first {
  margin-left: 190px; }

.second {
  margin-left: 60px; }

.Ftext1 {
  margin-left: 215px;
  float: left;
  color: white;
  font-size: 16px;
  font-family: 'gandhi_sansregular';
  font-weight: bold;
  margin-top: 38px;
  height: 18px;
  width: 80xp;
  text-align: right; }

.one {
  margin-left: 80px; }

.headerLogo {
  width: 611.27px;
  height: 78.27px;
  margin: 0 auto;
  background-image: url(/images/Logo-SOH.png); }

.headerText {
  width: 642px;
  height: 168px;
  margin: 0 auto;
  margin-top: 59px;
  font-size: 29.1px;
  font-family: 'gandhi_sansregular';
  color: #707070;
  line-height: 42.5px; }

.headerSearch {
  width: 616px;
  height: 83px;
  margin: 0 auto;
  margin-top: 49px; }

.inputSearchContent {
  width: 616px;
  height: 83px;
  color: #FEB403;
  font-size: 30px;
  font-family: 'gandhi_sansregular';
  font-style: italic;
  padding-left: 50px;
  border: 1px solid #D3D3D3;
  border-radius: 50px; }

.themenContainer {
  width: 1136px;
  height: 822px;
  margin: 0 auto;
  margin-top: 130px; }

.themen {
  height: 42px;
  width: 1136px;
  float: left;
  font-size: 45px;
  font-family: 'gandhi_sansregular';
  color: #707070; }

.themenImg {
  width: 162px;
  height: 158px;
  float: left; }

.top {
  margin-top: 101px; }

.bottom {
  margin-top: 61px; }

.marginimg {
  margin-left: 162px; }

.themenText {
  width: 162px;
  height: 68px;
  float: left;
  margin-top: 30px;
  font-size: 25px;
  font-family: 'gandhi_sansregular';
  color: #707070;
  text-align: center; }

.angeboteContainer {
  width: 1136px;
  height: 1410px;
  margin: 0 auto; }

.angeboteInnerContainer {
  height: 705px;
  width: 1136px; }

.angebote {
  width: 1136px;
  height: 74px;
  font-size: 45px;
  font-family: 'gandhi_sansregular';
  color: #707070; }

.angeboteimg {
  width: 263px;
  height: 408px;
  margin-top: 34px;
  float: left; }

.marginANG {
  margin-left: 173px; }

.angeboteInnerImg {
  height: 197px; }

.angeboteText {
  height: 116px;
  margin-top: 32px; }

.angeboteButton {
  height: 59px;
  width: 187px;
  margin-top: 4px;
  background-image: url(/images/Bildschirmfoto%202018-07-23%20um%2017.11.26.png);
  font-size: 25px;
  font-weight: bold;
  color: white;
  font-family: 'gandhi_sansregular';
  text-align: center; }

.a {
  font-size: 25px;
  font-family: 'gandhi_sansregular';
  color: #707070; }

.b {
  font-size: 16px;
  font-family: 'gandhi_sansregular';
  color: #707070;
  line-height: 19px; }

.c {
  padding: 15px; }

.d {
  font-size: 25px;
  font-family: 'gandhi_sansregular';
  color: #FEB403;
  margin-top: 20px; }

.angeboteMore {
  width: 163.11px;
  height: 23.75px;
  float: right;
  margin-top: 54px;
  font-size: 25px;
  font-family: 'gandhi_sansregular';
  color: #707070; }

.fa-chevron-down {
  float: right; }

.fa-eye {
  font-size: 25px;
  font-family: 'gandhi_sansregular';
  color: #FEB403;
  margin-left: 17px; }

.wissenswertesContainer {
  width: 1137px;
  height: 829px;
  margin: 0 auto; }

.wissenswertesInnerContainer {
  width: 1137px;
  height: 309px;
  float: left;
  margin-top: 26px;
  border: 1px solid #707070; }

.wissenswertesImage {
  width: 263.11px;
  height: 197.04px;
  margin-left: 81px;
  margin-top: 56px;
  float: left; }

.wissenswertesText {
  width: 573px;
  height: 137px;
  margin-left: 75px;
  margin-top: 86px;
  float: left; }
