@font-face {
    font-family: 'GandhiSans-Regular';
    src: url('../font/GandhiSans-Regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'GandhiSans-Bold';
    src: url('../font/GandhiSans-Bold-webfont.woff') format('woff');
}

@font-face {
    font-family: 'GandhiSans-Italic';
    src: url('../font/GandhiSans-Italic-webfont.woff') format('woff');
}
