@import 'variables.scss';

//WRAP

.wrap {
    margin: 0 auto;
    background-color: white;
    &--header{
        border-top: 11px solid $colormain;
        height: 265px;
    }
    &--content{
        height: 3815px;
    }
    &--footer{
        height: 540px;
    }
}

//NAVIGATION BAR

.mainContainer {
    margin: 0 auto;
    &--nav{
    width: 1135px;
    height: 24px;
    margin-top: 75px;
    }
}

.navLogo {
    width: 416px;
    height: 15px;
    float: left;
    margin-top: 9px;
    font-size: 20px;
    font-weight: bold;
    color: $colorreserve;
    font-family: $fontregular;
}

.nav{
    width: 672.72px;
    height: 24px;
    float: right;
    color: $colorreserve;
}

.nav ul{
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.nav li{
    height: 15px;
    float: left;
    margin-top: 9px;
    width: 110px;
}

.nav a{
    text-decoration: none;
    color: $colorreserve;
    display: block;
    font-family: $fontregular;
    font-size: 20px;
    text-align: center;
    padding-bottom: 50px;
}

//DROPDOWN

.dropdown{
    position: relative;
    display: inline-block;
    float: right;
    &--content{
        display: none;
        position: absolute;
        background-color: white;
        min-width: 320px;
        min-height: 415px;
        border: solid 1px $colormain;
    }
    &--content a{
        color: black;
        padding: 12px;
        text-decoration: none;
        display: block;
        font-size: 20px;
        font-family: $fontregular;
        text-align: left;
        padding-left: 50px;
        line-height: 25px;
    }
    &--margin{
        margin-top: 45px;
    }
    &--search{
        position: relative;
        display: inline-block;
    }
    &--contentSearch{
        display: none;
        position: absolute;
        background-color: white;
        min-width: 425px;
        min-height: 275px;
        border: solid 1px $colormain;
        margin-top: 46px;
    }
    &--background{
        width: 425px;
        height: 60px;
        background-color: $colormain;
        float: left;
        color: white;
        text-decoration: none;
        display: block;
        font-size: 25px;
        font-family: $fontregular;
        text-align: left;
    }
    &--innerSearch{
        width: 356px;
        height: 60px;
        float: left;
        margin-left: 34px;
        margin-top: 37px;
    }
    &--button{
        width: 150px;
        height: 60px;
        float: right;
        margin-right: 34px;
        margin-top: 20px;
        background-color: $colormain;
    }
    &--inputSearch{
        width: 316px;
        height: 60px;
        color: $colorreserve;
        font-size: 25px;
        font-family: 'gandhi_sansitalic';
        padding-left: 30px;
        border: 1px solid #D3D3D3;
    }
    &--user{
        position: relative;
        display: inline-block;
    }
    &--contentUser{
        display: none;
        position: absolute;
        background-color: white;
        min-width: 425px;
        min-height: 558px;
        border: solid 1px $colormain;
        margin-top: 46px;

    }
    &--margina{
        margin-top: 49px;
    }
    &--marginb{
        margin-top: 38px;
    }
    &--text{
        text-align: left;
        font-size: 20px;
        font-family: $fontregular;
        color: $colorreserve;
        margin-bottom: 10px;
    }
    &--buttonUser{
        height: 60px;
        width: 186px;
        float: right;
        margin-right: 34px;
        margin-top: 20px;
        background-color: $colormain;
    }
    &--innerUser{
        width: 356px;
        height: 95px;
        float: left;
        margin-left: 34px;
        margin-top: 25px;
    }
    &--footer{
        height: 125px;
        border-top: 1px solid $colormain;
        margin-top: 111px;
    }
    &--textcenter{
        text-align: center;
        font-family: $fontregular;
        font-size: 20px;
        color: $colorreserve;
        margin-top: 30px;
    }
    &--textbottom{
        text-align: center;
        font-family: $fontregular;
        font-size: 25px;
        color: $colormain;
        margin-top: 30px;
    }
}

.Suche{
    padding: 20px;
    color: white;
    font-size: 25px;
}
.textdropdown{
    margin-left: 34px;
    text-align: left;
    color: #BCBBBB;
    font-size: 20px;
    font-family: $fontregular;
}

.dropdown:hover{
    .dropdown--content{display: block}

}
.dropdown--search:hover{
    .dropdown--contentSearch {display: block;}
}
.dropdown--user:hover{
    .dropdown--contentUser {display: block;}
}
.dropdown--content a:hover  {background-color: $colormain;}
.dropdown--content a:hover {color: white;}
